.todo-item {
  margin-bottom: 16px;
  width: 800px;
  height: 64px;
}

.ant-card-body {
  display: flex;
  padding: 20px 16px;

  .todo-item-checkbox {
    margin-right: 16px;
  }

  .todo-item-buttons {
    margin-left: auto;
  }
}

// .completed {
//   text-decoration: line-through;
// }

// .todo-input-container {
//   width: 800px;
//   margin-bottom: 16px;
//   height: 64px;
//   display: flex;
//   align-items: center;

//   .todo-input-field {
//     width: 670px;
//     margin-left: 20px;
//   }

//   .ant-input {
//     border: none;
//   }
// }