.todo-input-container {
  width: 800px;
  margin-bottom: 16px;
  height: 64px;
  display: flex;
  align-items: center;

  .todo-input-field {
    width: 670px;
    margin-left: 20px;
  }

  .ant-input {
    border: none;
  }
}